<% id =  SecureRandom.alphanumeric(10) %>
<div id="app_<%=id %>">
<el-container>
  <el-container>
    <el-main>
      <el-row :gutter="24">
         <b>用户:</b> {{ user["wx_nickname"] }} (<a v-bind:href="'https://console.wetry.shop/customerDetail/' + user['id']">{{ user["id"] }}</a>)
      </el-row>
      <el-row :gutter="24">
         <b>手机号:</b> {{ user["phone"] }}
      </el-row>
      <el-row :gutter="24">
         <b>渠道:</b> {{ user["source"] }}
      </el-row>
      <el-row :gutter="24">
         <b>标签:</b> {{ user["style"] }}
      </el-row>
      <el-row :gutter="24">
         <b>日常风格:</b> {{ user["sel_style"] }}
      </el-row>
      <el-row :gutter="24">
         <b>年龄:</b> {{ user["age"] }}
      </el-row>
      <el-row :gutter="24">
         <b>婚姻状态:</b> {{ user["marriage"] }}
      </el-row>
      <el-row :gutter="24">
         <b>职业:</b> {{ user["occupation"] }}
      </el-row>
      <el-row :gutter="24">
         <b>身高:</b> {{ user["heigth"] }}
      </el-row>
      <el-row :gutter="24">
         <b>体重:</b> {{ user["weight"] }}
      </el-row>
      <el-row :gutter="24">
         <b>罩杯:</b> {{ user["cup"] }}
      </el-row>
      <el-row :gutter="24">
         <b>上身尺码:</b> {{ user["up_size"] }}
      </el-row>
      <el-row :gutter="24">
         <b>下身尺码:</b> {{ user["low_size"] }}
      </el-row>
      <el-row :gutter="24" v-if="order">
         <b>最近订单情况:</b> [{{ order["status"]  }}] - {{ order["expect_day"] }}
      </el-row>
      <el-row :gutter="24" v-if="order">
         <b>最近订单想要品类:</b> {{ order["like_category"] }}
      </el-row>
      <el-row :gutter="24">
        <b>照片:</b><br/>
          <img v-for="photo in user['photo']" style="width: 300px" v-bind:src="photo"/>
      </el-row>
    </el-main>
  </el-container>
</el-container>
</div>


<script>
  Vue.use(VueChartkick.use(Chart))

  app = new Vue({
    el: '#app_<%=id %>',
    data: {
      user: <%= user.to_json %>,
      order: <%= user.orders.product.keep.where("status>0").order(:expect_day).last.to_json %>,
    },
  })
</script>
